In [1]:
import pandas as pd

In [15]:
data = pd.read_csv('data/keystroke_data_combined.csv')
data.head()

C:\Users\nicol\AppData\Local\Temp\ipykernel_15136\1744520385.py:1: DtypeWarning: Columns (10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('data/keystroke_data_combined.csv')

,UserKey,Date,Timestamp,Hand,HoldTime,Direction,LatencyTime,FlightTime,BirthYear,Gender,Parkinsons,DiagnosisYear,Datetime
0,NMMGWRY6SO,170301,45:42.1,L,187.5,LL,421.9,281.3,1948.0,Male,True,2016,03/01/2017 08:45:42 AM
1,NMMGWRY6SO,170301,45:42.4,L,203.1,LL,281.3,93.8,1948.0,Male,True,2016,03/01/2017 08:45:42 AM
2,NMMGWRY6SO,170301,48:29.0,L,203.1,LL,296.9,125.0,1948.0,Male,True,2016,03/01/2017 08:48:29 AM
3,NMMGWRY6SO,170301,48:29.3,L,218.8,LL,218.8,15.6,1948.0,Male,True,2016,03/01/2017 08:48:29 AM
4,NMMGWRY6SO,170301,48:29.5,R,187.5,LR,250.0,31.3,1948.0,Male,True,2016,03/01/2017 08:48:29 AM

In [16]:
data.dtypes

UserKey           object
Date               int64
Timestamp         object
Hand              object
HoldTime         float64
Direction         object
LatencyTime      float64
FlightTime       float64
BirthYear        float64
Gender            object
Parkinsons        object
DiagnosisYear     object
Datetime          object
dtype: object

In [18]:
data[~data['Parkinsons'].apply(lambda x: isinstance(x, bool))]

,UserKey,Date,Timestamp,Hand,HoldTime,Direction,LatencyTime,FlightTime,BirthYear,Gender,Parkinsons,DiagnosisYear,Datetime
156344,PESPWEVTGF,160818,53:08.0,R,62.5,RR,375.0,250.0,NaN,NaN,NaN,NaN,08/18/2016 07:53:08 AM
156345,PESPWEVTGF,160818,53:08.4,R,60.5,RR,375.0,312.5,NaN,NaN,NaN,NaN,08/18/2016 07:53:08 AM
156346,PESPWEVTGF,160818,53:08.8,L,140.6,RL,357.4,296.9,NaN,NaN,NaN,NaN,08/18/2016 07:53:09 AM
156347,PESPWEVTGF,160818,53:09.0,L,78.1,LL,296.9,156.3,NaN,NaN,NaN,NaN,08/18/2016 07:53:09 AM
156348,PESPWEVTGF,160818,53:11.8,L,60.5,LL,421.9,375.0,NaN,NaN,NaN,NaN,08/18/2016 07:53:12 AM
...,...,...,...,...,...,...,...,...,...,...,...,...,...
973098,PHOPRDDRXM,160913,10:44.6,S,128.9,LS,664.1,550.8,NaN,NaN,NaN,NaN,09/13/2016 06:10:45 PM
973099,PHOPRDDRXM,160913,10:46.4,L,113.3,LL,335.9,214.8,NaN,NaN,NaN,NaN,09/13/2016 06:10:46 PM
973100,PHOPRDDRXM,160913,10:46.9,R,144.5,LR,562.5,449.2,NaN,NaN,NaN,NaN,09/13/2016 06:10:47 PM
973101,PHOPRDDRXM,160913,10:47.5,R,136.7,RR,550.8,406.3,NaN,NaN,NaN,NaN,09/13/2016 06:10:47 PM
973102,PHOPRDDRXM,160913,10:50.2,R,117.2,LR,554.7,441.4,NaN,NaN,NaN,NaN,09/13/2016 06:10:50 PM

In [24]:
data = data.dropna(subset='Parkinsons')
data['Parkinsons'] = data['Parkinsons'].astype(bool)

In [23]:
data.dtypes

UserKey           object
Date               int64
Timestamp         object
Hand              object
HoldTime         float64
Direction         object
LatencyTime      float64
FlightTime       float64
BirthYear        float64
Gender            object
Parkinsons          bool
DiagnosisYear     object
Datetime          object
dtype: object

In [27]:
parkinsons = data[data['Parkinsons']]
parkinsons

,UserKey,Date,Timestamp,Hand,HoldTime,Direction,LatencyTime,FlightTime,BirthYear,Gender,Parkinsons,DiagnosisYear,Datetime
0,NMMGWRY6SO,170301,45:42.1,L,187.5,LL,421.9,281.3,1948.0,Male,True,2016,03/01/2017 08:45:42 AM
1,NMMGWRY6SO,170301,45:42.4,L,203.1,LL,281.3,93.8,1948.0,Male,True,2016,03/01/2017 08:45:42 AM
2,NMMGWRY6SO,170301,48:29.0,L,203.1,LL,296.9,125.0,1948.0,Male,True,2016,03/01/2017 08:48:29 AM
3,NMMGWRY6SO,170301,48:29.3,L,218.8,LL,218.8,15.6,1948.0,Male,True,2016,03/01/2017 08:48:29 AM
4,NMMGWRY6SO,170301,48:29.5,R,187.5,LR,250.0,31.3,1948.0,Male,True,2016,03/01/2017 08:48:29 AM
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1043020,LIOUUNGQ8Q,170303,12:29.1,R,105.5,RR,253.9,160.2,1958.0,Male,True,2008,03/03/2017 11:12:29 AM
1043021,LIOUUNGQ8Q,170303,12:53.2,R,105.5,LR,773.4,656.3,1958.0,Male,True,2008,03/03/2017 11:12:53 AM
1043022,LIOUUNGQ8Q,170303,12:53.5,R,128.9,RR,304.7,199.2,1958.0,Male,True,2008,03/03/2017 11:12:54 AM
1043023,LIOUUNGQ8Q,170303,12:54.6,L,85.9,LL,273.4,168.0,1958.0,Male,True,2008,03/03/2017 11:12:55 AM
1043024,LIOUUNGQ8Q,170303,12:55.3,R,117.2,LR,648.4,562.5,1958.0,Male,True,2008,03/03/2017 11:12:55 AM

In [35]:
parkinsons = parkinsons.dropna(subset=['BirthYear', 'Gender', 'Parkinsons', 'DiagnosisYear'])
parkinsons

,UserKey,Date,Timestamp,Hand,HoldTime,Direction,LatencyTime,FlightTime,BirthYear,Gender,Parkinsons,DiagnosisYear,Datetime
0,NMMGWRY6SO,170301,45:42.1,L,187.5,LL,421.9,281.3,1948,Male,True,2016,03/01/2017 08:45:42 AM
1,NMMGWRY6SO,170301,45:42.4,L,203.1,LL,281.3,93.8,1948,Male,True,2016,03/01/2017 08:45:42 AM
2,NMMGWRY6SO,170301,48:29.0,L,203.1,LL,296.9,125.0,1948,Male,True,2016,03/01/2017 08:48:29 AM
3,NMMGWRY6SO,170301,48:29.3,L,218.8,LL,218.8,15.6,1948,Male,True,2016,03/01/2017 08:48:29 AM
4,NMMGWRY6SO,170301,48:29.5,R,187.5,LR,250.0,31.3,1948,Male,True,2016,03/01/2017 08:48:29 AM
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1043020,LIOUUNGQ8Q,170303,12:29.1,R,105.5,RR,253.9,160.2,1958,Male,True,2008,03/03/2017 11:12:29 AM
1043021,LIOUUNGQ8Q,170303,12:53.2,R,105.5,LR,773.4,656.3,1958,Male,True,2008,03/03/2017 11:12:53 AM
1043022,LIOUUNGQ8Q,170303,12:53.5,R,128.9,RR,304.7,199.2,1958,Male,True,2008,03/03/2017 11:12:54 AM
1043023,LIOUUNGQ8Q,170303,12:54.6,L,85.9,LL,273.4,168.0,1958,Male,True,2008,03/03/2017 11:12:55 AM
1043024,LIOUUNGQ8Q,170303,12:55.3,R,117.2,LR,648.4,562.5,1958,Male,True,2008,03/03/2017 11:12:55 AM

In [45]:
parkinsons['DiagnosisYear'] = parkinsons['DiagnosisYear'].astype(int)
parkinsons['BirthYear'] = parkinsons['BirthYear'].astype(int)
parkinsons['Gender'] = parkinsons['Gender'].astype(str)
parkinsons['current_year'] = parkinsons['Date'] // 10000 + 2000

In [48]:
averages = parkinsons.groupby('UserKey')[['current_year', 'HoldTime', 'LatencyTime', 'FlightTime']].median()
constants = parkinsons.groupby('UserKey')[['BirthYear', 'Gender', 'Parkinsons', 'DiagnosisYear']].max()

In [50]:
individuals = pd.concat([averages, constants], axis=1).reset_index()
individuals

,UserKey,current_year,HoldTime,LatencyTime,FlightTime,BirthYear,Gender,Parkinsons,DiagnosisYear
0,5USOYSDCXB,2017.0,78.1,140.6,93.8,1941,Male,True,2017
1,8TEUUGQBYB,2016.0,66.4,320.3,234.4,1935,Male,True,2013
2,E0TBSMYHQI,2016.0,78.1,328.1,242.2,1948,Male,True,2015
3,FHEOPKL3QQ,2016.0,140.6,359.4,218.8,1948,Female,True,2014
4,I3U47MF5UF,2016.0,121.1,171.9,109.4,1947,Female,True,2014
5,IDZHIUK2W2,2016.0,117.2,265.6,207.0,1943,Female,True,2013
6,JHBOKKHOQW,2016.0,117.2,273.4,183.6,1939,Female,True,2016
7,LIOUUNGQ8Q,2017.0,128.9,472.7,343.8,1958,Male,True,2008
8,LSQWWDXEYO,2016.0,168.0,281.3,183.6,1951,Male,True,2016
9,NMMGWRY6SO,2017.0,141.0,234.4,140.6,1948,Male,True,2016
10,NPACI6EW26,2016.0,85.9,218.8,144.5,1965,Female,True,2016
11,QAH9IVALVC,2017.0,93.8,203.1,109.4,1942,Female,True,2015
12,QEYNMBJ8T0,2017.0,99.6,253.9,183.6,1940,Male,True,2009
13,SGT8K5GXG0,2016.0,93.8,312.5,218.8,1942,Male,True,2015
14,SW61HF6XRY,2016.0,78.1,453.1,375.0,1953,Male,True,2016
15,TL2XHTLK1T,2017.0,62.5,343.8,285.2,1947,Male,True,2014
16,UDCY90VKYN,2016.0,117.2,199.2,121.1,1938,Male,True,2016
17,UJ2F1R6ODJ,2017.0,109.4,210.9,164.1,1958,Female,True,2008
18,V2SZVYXBOD,2016.0,105.5,281.3,187.5,1941,Female,True,2015
19,VCTVD6LMPK,2016.0,78.1,359.4,281.3,1933,Female,True,2012
20,WBS5I7VF1G,2016.0,125.0,187.5,156.3,1959,Female,True,2016
21,WCNUFGGLYB,2017.0,123.0,439.5,312.5,1941,Female,True,2017
22,WDNE1Q9EHT,2016.0,117.2,191.4,128.9,1941,Female,True,2012
23,XWAX2IHF3O,2016.0,89.8,168.0,144.5,1970,Female,True,2007
24,ZWBPPNQCUX,2016.0,109.4,312.5,203.1,1942,Male,True,2016

In [51]:
individuals.to_csv('data/keystroke_data_individuals.csv', index=False)